<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="header-css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />-->
    <link rel="stylesheet" type="text/css" th:href="@{~/css/bootstrap.min.css/}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title th:text="#{header.app.title}"></title>
</head>

<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent d-flex justify-content-evenly align-items-center">
        <a class="navbar-brand text-dark" href="/home">𝗚𝗮𝗱𝗴𝗲𝘁 𝗦𝗵𝗼𝗽</a>
        <a class="nav-link" th:href="@{product/new}" sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-plus-circle fa-2x text-white"></i></i></a>
        <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarNavAltMarkup">
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
                <ul  class="navbar-nav ml-auto">
<!--                    <li class="nav-item">  <a class="nav-link" th:href="@{product/new}" sec:authorize="hasRole('ROLE_ADMIN')"><i class="fas fa-plus-circle fa-2x text-white"></i></i></a></li>-->
                    <li class="navbar-text text-dark" th:text="#{header.logged}" sec:authorize="isAuthenticated()"></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" style="color: #1e90ff" th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                        <a class="nav-link" sec:authorize="hasRole('ROLE_USER')" th:href="@{/user}" style="color: #91a8ff;" th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link text-dark" th:href="@{/logout}" th:text="#{user.log_out}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link text-dark rounded bg-light mr-3" th:href="@{/login}" th:text="#{user.log_in}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link text-dark rounded bg-light" th:href="@{/register}" th:text="#{register.button}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a th:href="@{/cart}"><img id="cart" th:src="@{/images/cart.png}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>

</html>